* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 70%;
  max-width: 800px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}

.parent {
  width: 100%;
  background-color: #c1c1c1;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.child {
  width: 0%;
  background-color: #53b453;
  height: 100%;
}

.clk {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #53b453;
  cursor: pointer;
}

.clk:hover {
  background-color: #c1c1c1;
}

.prog {
  position: absolute;
  display: block;
  right: 0;
}

@media screen and (max-width: 700px) {
  .container {
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }

  h1 {
    font-size: 20px;
  }

  .prog {
    bottom: 20px;
  }
}
